<mat-tab-group>
  <mat-tab label="Category">
    <form [formGroup]="categoryForm">
      <fieldset>
        <legend>Options</legend>
        <div class="options">
          <div class="clip-options" matTooltip="Choose the values that will be placed on the clipboard on selection.">
            <mat-checkbox color="primary" formControlName="category">Category</mat-checkbox>
            <mat-checkbox color="primary" formControlName="subCategory">SubCategory</mat-checkbox>
            <mat-checkbox color="primary" formControlName="catID">CatID</mat-checkbox>
            <mat-checkbox color="primary" formControlName="catShort">CatShort</mat-checkbox>
          </div>
          <div class="search-options" matTooltip="Enable/disable searching of synonyms.">
            <mat-checkbox color="accent" class="synonyms" formControlName="searchCategorySynonyms">Search Synonyms</mat-checkbox>
          </div>
        </div>
      </fieldset>
      <div class="category-selector">
        <mat-form-field>
          <input
            matInput
            tab-directive
            type="text"
            placeholder="Select Category"
            matTooltip="Selecting an item from the list will put it on the clipboard."
            [matAutocomplete]="categoryAuto"
            formControlName="categoryKeyword"
          >
          <a mat-button class="clear" *ngIf="categoryForm.value.categoryKeyword" matSuffix mat-icon-button aria-label="Clear" matTooltip="Clear Selection" (click)="clearCategoryKeyword()">
            <mat-icon color="primary">close</mat-icon>
          </a>
          <label for="import-file" matSuffix>
            <a mat-icon-button class="import" matTooltip="Import Category File">
              <mat-icon color="accent">unarchive</mat-icon>
            </a>
          </label>
          </mat-form-field>
        <input id="import-file" type="file" class="hide" (change)="importFile($event)" accept=".xlsx" />
      </div>

      <mat-autocomplete #categoryAuto="matAutocomplete" [displayWith]="formatCategoryItem" autoActiveFirstOption="true">
        <mat-option *ngFor="let item of filteredCategoryItems | async" [value]="item" (onSelectionChange)="categorySelected(item)">
          <div class="main">
            {{item.category}} {{item.subCategory}} {{item.catID}}
          </div>
          <div class="explanations">
            {{item.explanations}}
          </div>
        </mat-option>
      </mat-autocomplete>
    </form>
  </mat-tab>

  <mat-tab label="Filename">
    <form [formGroup]="filenameForm">
      <fieldset>
        <legend>Options</legend>
        <div class="options">
          <div class="clip-options">
            <mat-form-field>
              <input matInput formControlName="userCategory" placeholder="User Category (optional)" (input)="updateFilename(null)">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="fxName" required placeholder="FX Name" (input)="updateFilename(null)">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="initials" required placeholder="User Initials" (input)="updateFilename(null)">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="show" required placeholder="Show Name" (input)="updateFilename(null)">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="userInfo" required placeholder="User Info" (input)="updateFilename(null)">
            </mat-form-field>
          </div>
          <div class="search-options" matTooltip="Enable/disable searching of synonyms.">
            <mat-checkbox color="accent" class="synonyms" formControlName="searchFilenameSynonyms">Search Synonyms</mat-checkbox>
          </div>
        </div>
      </fieldset>
      <div class="category-selector">
        <mat-form-field>
          <input
            matInput
            tab-directive
            type="text"
            placeholder="Select Category"
            matTooltip="Select the category to use in the filename."
            [matAutocomplete]="filenameAuto"
            formControlName="filenameKeyword"
            required
          >
          <a mat-button class="clear" *ngIf="filenameForm.value.filenameKeyword" matSuffix mat-icon-button aria-label="Clear" matTooltip="Clear Selection" (click)="clearFilenameKeyword()">
            <mat-icon color="primary">close</mat-icon>
          </a>
          <label for="import-file" matSuffix>
            <a mat-icon-button class="import" matTooltip="Import Category File">
              <mat-icon color="accent">unarchive</mat-icon>
            </a>
          </label>
          </mat-form-field>
        <input id="import-file" type="file" class="hide" (change)="importFile($event)" accept=".xlsx" />
      </div>

      <mat-autocomplete #filenameAuto="matAutocomplete" [displayWith]="formatCategoryItem" autoActiveFirstOption="true">
        <mat-option *ngFor="let filenameItem of filteredFilenameItems | async" [value]="filenameItem" (onSelectionChange)="updateFilename(filenameItem)">
          <div class="main">
            {{filenameItem.category}} {{filenameItem.subCategory}} {{filenameItem.catID}}
          </div>
          <div class="explanations">
            {{filenameItem.explanations}}
          </div>
        </mat-option>
      </mat-autocomplete>

      <div class="filename-display">
        <h2>{{ filename }}</h2>
        <button mat-icon-button class="file-copy" matTooltip="Copy Filename to Clipboard" [disabled]="filenameForm.invalid" (click)="copyFilename()">
          <mat-icon color="primary">file_copy</mat-icon>
        </button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
