form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  .script {
    margin-top: 2rem;
    width: 100%;
  }
}

fieldset {
  margin-bottom: 2rem;

  .options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .clip-options {
      display: flex;
      flex-wrap: wrap;

      mat-checkbox {
        margin: 1rem 0;

        margin-right: 2rem;
      }

      mat-form-field {
        margin-right: 2rem;
      }
    }

    .search-options {
      display: flex;
      justify-content: flex-end;
      margin: auto 0;
    }
  }
}

.filename-options {
  display: flex;
  flex-wrap: wrap;

  mat-form-field {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.category-selector {
  display: flex;

  mat-form-field {
    flex-grow: 1;
  }

  mat-form-field {
    width: 100%;
  }

  input[type=file] {
    display: none;
  }

  a {
    cursor: pointer;
  }
}

mat-option {
  height: unset;
  line-height: unset;
  padding-top: 1rem;

  .explanations {
    color: #999;
    font-size: smaller;
    padding-top: .5rem;
    padding-bottom: 1rem;
  }
}

.filename-display {
  display: flex;

  .file-copy {
    margin: auto 1rem;
  }
}

.mat-icon-button {
  &[disabled] {
    opacity: .5;
  }
}
